# Dependencies
node_modules/

# Next.js
.next/
out/

# Env files
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# PWA
public/sw.js
public/workbox-*.js

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
